extends ../templates/layout_backoffice

block content
   div.header
      h1 Edit a word
   
   div.wrapper
      form(action= `${words.id}`, name='editword' enctype="multipart/form-data" method="POST" onsubmit="editmember.disabled = true; return true;")
         div.each-entry
            label(for='name') Name
            br
            input.inputs(type='text' name='name' id='name' required value=words.name)
         div.each-entry
            label(for='definition') Definition
            br
            input.inputs(type='text' name='definition' id='definition' required value=words.definition)
         div.each-entry
            label(for='related') Related
            br
            input.inputs(type='text' name='related' id='related' value=words.related)
         div.each-entry
            input.saveBtn(type="submit", value="Save", name='editmember')
      
      form(action='delete', name='editword' method="POST")
         input(value=words.id type="hidden" name="id")
         input.removeBtn(type="submit", value="Remove", onclick="return confirm('Are you sure you want to delete this word?');")

      a(href="/")
            button.exitBtn Exit